{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block meta %}{% endblock meta %}

    {% if GOOGLE_ANALYTICS_KEY %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_KEY }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{ GOOGLE_ANALYTICS_KEY }}');
    </script>
    {% endif %}

    <link href="https://fonts.googleapis.com/css?family=Tajawal&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/rtl/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <title>{% block title %}{% endblock title %} | فرصة</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">فُرصة</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'wajiha:index' %}">الواجهة</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'wajiha:opportunity_create' %}">نشر فرصة جديدة</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'wajiha:contact' %}">التواصل</a>
                        </li>
                    </ul>
                    <form method="GET" action="{% url 'wajiha:index' %}" class="form-inline my-2 my-lg-0">
                        <input required="false" name="q" class="form-control mr-sm-2" type="text"
                            placeholder="عن ما تبحث؟" value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">بحث</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active"
                    style="background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('{% static 'img/header.jpg' %}') no-repeat center top; background-size: cover;">
                    <div class="container">
                        <div class="carousel-caption text-left">
                            <h1>نبني مستقبلَ وطنِنا، فرصةً بفرصة.</h1>
                            <p> منصة فرصة تمكن العمانيين من اكتشاف ومتابعة الفرص الجديدة المتواجدة في
                                السلطنة، من البرامج الصيفية إلى فرصِ العمل، "فرصة" هو المكان المناسب لك.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        <footer class="page-footer font-small blue">
            <div class="container">
                <hr>
                <div class="footer-copyright text-center py-3">&copy; كل الحقوق محفوظة لدى فرصة في سلطنة عمان
                </div>
            </div>
        </footer>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script type='text/javascript'
        data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({ c: 'c155f4bd-9446-4ec5-a395-2a627807d7dc', f: true }); done = true; } }; })();</script>
</body>

</html>