{% extends "wajiha/base.html" %}

{% block title %}Post A New Opportunity{% endblock %}

{% block content %}
<div class="container">
    <div class="card border-primary">
        <div class="card-header">التواصل</div>
        <div class="card-body">
            <p class="card-text">
                للإستفسارات أو الإستعلام عن فرص الإعلان الرجاء التواصل عن طريق البريد الإلكتروني: <a href="mailto:sup@rashidalabri.com">sup@rashidalabri.com</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}