{% extends "wajiha/base.html" %}

{% load humanize %}
{% load thumbnail %}
{% load tinymce_tags %}

{% block meta %}
<meta property="og:site_name" content="فرصة" />
<meta property="og:title" content="{{ opportunity.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url"
    content="https://forsa.om{% url 'wajiha:opportunity_detail' pk=opportunity.pk slug=opportunity.slug %}" />
<meta property="og:image" itemprop="image"
    content="{% thumbnail opportunity.image '256' as im %}{{ im.url }}{% endthumbnail %}" />
<meta property="og:description" content="{{ opportunity.description|slice:":100"  }}..." />
{% endblock %}


{% block title %}{{ opportunity.title }}{% endblock %}

{% block header_image_url %}{% thumbnail opportunity.category.image '1024' as im %}{{ im.url }}{% endthumbnail %}{% endblock %}

{% block header_content %}
<h4><span class="fa fa-{{ opportunity.category.fontawesome_icon }}" aria-hidden="true"></span></h4>
<h4>#{{ opportunity.category.name.split|join:'_' }}</h4>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row no-gutters">
        <div class="card">
            <div class="row card-img-top no-gutters">
                <div style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.85)), url('{% thumbnail opportunity.image '512' as im %}{{ im.url }}{% endthumbnail %}')"
                    class="row opportunity-card-img-top justify-content-center align-items-center no-gutters">
                    <div class="col">
                        <h4><span class="fa fa-{{ category.fontawesome_icon }}" aria-hidden="true"></span></h4>
                        <h4>{{ opportunity.title }}</h4>
                    </div>
                </div>
            </div>
            <div  class="card-body">
                <p class="card-text" id="preview-content">{% autoescape off %}{{ opportunity.description }}{% endautoescape %}</p>
            </div>
            <ul class="list-group list-group-flush">
                {% if opportunity.website %}
                <li class="list-group-item"><span class="fa fa-globe" aria-hidden="true"></span>&nbsp;&nbsp;<a
                        href="{{ opportunity.website }}" target="_blank">{{ opportunity.website|slice:":30" }}...</a>
                </li>
                {% endif %}

                {% if opportunity.phone_number %}
                <li class="list-group-item"><span class="fa fa-phone" aria-hidden="true"></span>&nbsp;&nbsp;<a
                        href="tel:{{ opportunity.phone_number }}" target="_blank">{{ opportunity.phone_number }}</a>
                </li>
                {% endif %}

                {% if opportunity.email %}
                <li class="list-group-item"><span class="fa fa-envelope" aria-hidden="true"></span>&nbsp;&nbsp;<a
                        href="mailto:{{ opportunity.email }}" target="_blank">{{ opportunity.email }}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <br>
    <div class="row no-gutters">
        <button class="btn btn-primary" onclick="window.history.back();"><span class="fa fa-chevron-right" aria-hidden="true"></span> الرجوع</button>
    </div>
</div>
{% endblock %}