{% extends "wajiha/base.html" %}
{% load humanize %}

{% block title %}Discover Opportunities in Oman{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        {% for opportunity in object_list %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="https://via.placeholder.com/150" class="bd-placeholder-img card-img-top" width="100%"
                    height="225">
                <div class="card-body">
                    <h5 class="card-title">{{ opportunity.title }}</h5>
                    <p class="card-text">{{ opportunity.description|slice:":100" }}...</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{% url 'wajiha:opportunity_detail' pk=opportunity.pk slug=opportunity.slug %}"><button
                                type="button" class="btn btn-primary">المزيد</button></a>
                        <small class="text-muted">{{ opportunity.created_at|date:"d/m/Y" }}</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}