{% extends "wajiha/base.html" %}
{% load humanize %}

{% block meta %}
<meta property="og:site_name" content="فرصة" />
<meta property="og:title" content="{{ opportunity.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://forsa.om{% url 'wajiha:opportunity_detail' pk=opportunity.pk slug=opportunity.slug %}" />
<meta property="og:image:secure_url" itemprop="image" content="{{ opportunity.image.url }}" />
<meta property="og:description" content="{{ opportunity.description|slice:":100"  }}..."/>
{% endblock %}


{% block title %}{{ opportunity.title }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row no-gutters">
        <div class="card col-md mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ opportunity.image.url }}" class="card-img" height="100%" width="100%">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">{{ opportunity.title }}</h4>
                        <p class="card-text">{{ opportunity.description|linebreaks }}</p>
                        <p class="card-text"><small class="text-muted">منذ {{ opportunity.created_at|timesince }}</small>
                        </p>
                        <hr>
                        {% if opportunity.website %}
                        <a href="{{ opportunity.website }}"><button
                                type="button" class="btn btn-primary my-1">الموقع الإلكتروني</button></a>
                        {% endif %}

                        {% if opportunity.phone_number %}
                        <a href="tel:{{ opportunity.phone_number }}"><button
                            type="button" class="btn btn-success my-1">الهاتف: {{ opportunity.phone_number }}</button></a>
                        {% endif %}

                        {% if opportunity.email %}
                        <a href="mailto:{{ opportunity.email }}"><button
                            type="button" class="btn btn-danger my-1">البريد الإلكتروني: {{ opportunity.email }}</button></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <h5 class="text-muted">فرص مشابهة</h5>
    <hr>

    <div class="row">
        {% for opportunity in similar_opportunities %}
            {% include 'wajiha/components/opportunity_card.html' %}
        {% endfor %}
    </div>

</div>
{% endblock %}