{% extends "wajiha/base.html" %}

{% load crispy_forms_tags %}
{% load crispy_forms_tags %}

{% block title %}Post A New Opportunity{% endblock %}

{% block content %}
<div class="container">
    <div class="card border-primary">
        <div class="card-header">الإعلان عن فرصة جديدة</div>
        <div class="card-body">
            <form action="{% url 'wajiha:opportunity_create' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}