/* GLOBAL STYLES
-------------------------------------------------- */

* {
  font-family: 'Tajawal', sans-serif;
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  direction: rtl;
}

section#content {
  margin-top: 0.5rem;
}

.bg-primary {
  background-color: #311b92!important;
}

.btn-primary {
  background-color: #4527a0!important;
  border: none;
}

.active .page-link {
  background-color: #4527a0!important;
  border: none;

}
/* Header
-------------------------------------------------- */
.header {
  padding: 2.5rem;
  color: whitesmoke;
}


/* Category Grid Display
-------------------------------------------------- */

.category-item-cover {
  background-size: cover;
  border-radius: 4px;
  color: white;
  text-align: center;
  min-height: 11rem;
}

.category-item {
  padding: 1.5rem;
}

/* Universal Search
-------------------------------------------------- */

.search-container {
  background-color: #4527a0;
  color: white;
  padding: 1.5rem;
}

.btn-group .btn:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;

}

.card-img-top {
  min-height: 12rem;
}

.opportunity-card-img-top {
  color: white;
  padding: 1.5rem;
  width: 100%;
  background-size: cover;
}